{% extends ../base/col-7-3.html %}

{% block col-7 %}
    <div class="col-7 col-7-paragraph col-7-contacts">
        <h1>{% module _('contacts_page_h1') %}</h1>
        <div class="map"></div>
        <p>
            <strong>{% module _('contacts') %}</strong><br/>
            {% module _('contacts_address_1') %}<br/>
            {% module _('contacts_address_2') %}<br/>
            <a class="link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;{% module _('contacts_email', obfuscate=True) %}">{% module _('contacts_email', obfuscate=True) %}</a>
        </p>
        <p>
            <strong>{% module _('contacts_mobile') %}</strong><br/>
            {% module _('contacts_mobile_text') %}<br/>
            <a class="link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;{% module _('contacts_mobile_email', obfuscate=True) %}">{% module _('contacts_mobile_email', obfuscate=True) %}</a>
        </p>
        <p>
            <strong>{% module _('contacts_social') %}</strong><br/>
            {% module _('contacts_social_text') %}<br/>
            <a class="link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;{% module _('contacts_social_email', obfuscate=True) %}">{% module _('contacts_social_email', obfuscate=True) %}</a>
        </p>
        <p>
            <strong>{% module _('contacts_ad') %}</strong><br/>
            {% module _('contacts_ad_text') %}<br/>
            <a class="link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;{% module _('contacts_ad_email', obfuscate=True) %}">{% module _('contacts_ad_email', obfuscate=True) %}</a>
        </p>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){ContactsApp.init('{{ lang }}');});
    </script>
{% end %}