{% extends ../base/col-7-3.html %}

{% block col-7 %}
    <div class="col-7 col-7-news">
        <h1>{% module _('news_page_h1') %}</h1>
        <div class="item-list">
            <ul>
                {% for item in items %}
                    <li>
                        <a class="img" href="{% module url('news_item_page', lang, item['item_id']) %}">
                            <img src="{% module static('img/%s' % item['img_small']) %}" alt="{{ item['title'] }}"/>
                        </a>
                        <div>
                            <a href="{% module url('news_item_page', lang, item['item_id']) %}">
                                <h2>{{ item['title'] }}</h2>
                            </a>
                            <p>{{ item['descr_short'] }}</p>
                        </div>
                        <p>{{ item['descr_full'] }}</p>
                        <a class="link" href="{% module url('news_item_page', lang, item['item_id']) %}">{% module _('btn_more_3') %}</a>
                    </li>
                {% end %}
            </ul>
        </div>
    </div>
{% end %}