{% extends ../base/col-7-3.html %}

{% block col-7 %}
    <div class="col-7 col-7-partners">
        <h1>{% module _('partners_page_h1') %}</h1>
        <div class="item-list">
            <ul>
                <li>
                    <a class="img" href="{% module _('partner_disney_link') %}" target="_blank">
                        <img src="{% module static('img/partners_logo_disney.png') %}" alt="{% module _('alt_partner_disney') %}"/>
                    </a>
                    <div>
                        <a href="{% module _('partner_disney_link') %}" target="_blank">
                            <h2>{% module _('partner_disney') %}</h2>
                        </a>
                        <p>{% module _('partner_disney_descr') %}</p>
                    </div>
                </li>
                <li>
                    <a class="img" href="{% module _('partner_6waves_link') %}" target="_blank">
                        <img src="{% module static('img/partners_logo_6waves.png') %}" alt="{% module _('alt_partner_6waves') %}"/>
                    </a>
                    <div>
                        <a href="{% module _('partner_6waves_link') %}" target="_blank">
                            <h2>{% module _('partner_6waves') %}</h2>
                        </a>
                        <p>{% module _('partner_6waves_descr') %}</p>
                    </div>
                </li>
                <li>
                    <a class="img" href="{% module _('partner_bigfish_link') %}" target="_blank">
                        <img src="{% module static('img/partners_logo_big_fish.png') %}" alt="{% module _('alt_partner_bigfish') %}"/>
                    </a>
                    <div>
                        <a href="{% module _('partner_bigfish_link') %}" target="_blank">
                            <h2>{% module _('partner_bigfish') %}</h2>
                        </a>
                        <p>{% module _('partner_bigfish_descr') %}</p>
                    </div>
                </li>
                <li>
                    <a class="img" href="{% module _('partner_natgeo_link') %}" target="_blank">
                        <img src="{% module static('img/partners_logo_national_geographic.png') %}" alt="{% module _('alt_partner_natgeo') %}"/>
                    </a>
                    <div>
                        <a href="{% module _('partner_natgeo_link') %}" target="_blank">
                            <h2>{% module _('partner_natgeo') %}</h2>
                        </a>
                        <p>{% module _('partner_natgeo_descr') %}</p>
                    </div>
                </li>
                <li>
                    <a class="img" href="{% module _('partner_ge_link') %}" target="_blank">
                        <img src="{% module static('img/partners_logo_general_electic.png') %}" alt="{% module _('alt_partner_ge') %}"/>
                    </a>
                    <div>
                        <a href="{% module _('partner_ge_link') %}" target="_blank">
                            <h2>{% module _('partner_ge') %}</h2>
                        </a>
                        <p>{% module _('partner_ge_descr') %}</p>
                    </div>
                </li>
                <li>
                    <a class="img" href="{% module _('partner_mailru_link') %}" target="_blank">
                        <img src="{% module static('img/partners_logo_mailru.png') %}" alt="{% module _('alt_partner_mailru') %}"/>
                    </a>
                    <div>
                        <a href="{% module _('partner_mailru_link') %}" target="_blank">
                            <h2>{% module _('partner_mailru') %}</h2>
                        </a>
                        <p>{% module _('partner_mailru_descr') %}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% end %}