{% extends ../base/col-7-3.html %}

{% block col-7 %}
    <div class="col-7 col-7-paragraph">
        <h1>{% module _('services_page_h1') %}</h1>
        <img src="{% module static('img/img_arrow_up.png') %}" alt="{% module _('alt_services_page_img') %}"/>
        <p>
            {% module _('services_page_p_1') %}<br/>
            <a class="link" href="{% module url('mobile_promotion_page', lang) %}">{% module _('btn_more_3') %}</a>
        </p>
        <p>
            {% module _('services_page_p_2') %}<br/>
            <a class="link" href="{% module url('application_development_page', lang) %}">{% module _('btn_more_3') %}
        </a>
        <p>
            {% module _('services_page_p_3') %}<br/>
            <a class="link" href="{% module url('social_media_marketing_page', lang) %}">{% module _('btn_more_3') %}</a>
        </p>
        <p>{% module _('services_page_p_4') %}</p>
    </div>
{% end %}