{% extends ../base/col-7-3.html %}

{% block col-7 %}
    <div class="col-7 col-7-paragraph">
        <h1>{% module _('smm_page_h1') %}</h1>
        <img src="{% module static('img/page_service_smm.png') %}" alt="{% module _('alt_smm_page_img') %}"/>
        <p>{% module _('smm_page_p_1') %}</p>
         <ul>
            <li>{% module _('smm_page_li_1') %}</li>
            <li>{% module _('smm_page_li_2') %}</li>
            <li>{% module _('smm_page_li_3') %}</li>
            <li>{% module _('smm_page_li_4') %}</li>
            <li>{% module _('smm_page_li_5') %}</li>
        </ul>
        <p>{% module _('smm_page_p_2') %}</p>
        <p>{% module _('smm_page_p_3') %}</p>
    </div>
{% end %}